.ContactData{
    margin:-500px 900PX auto;
    width: 35%;
    height: 70%;
    text-align: center;
    border: 1px solid wheat;
    padding:10px;
    box-shadow:2px 3px 3px 3px navajowhite;
    text-align: center;
}


@media(max-width:1000px){
    .ContactData{
        margin:50px 100px;
        width:500px;
    }
}